.producto__container{
    padding: 5%;
    height: 65vh;
    background-color: rgb(240, 230, 237);
    display: flex;
    gap: 5%;
    height: 80vh;
}

.producto__container img{
    height: 400px;
    width: 400px;
}

.contador{
    background-color: aliceblue;
    padding: 0 10px 0 10px;
    margin:4px;
    border: 1px solid black;

}