.NavContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

nav{
    width: 70%;
    display: flex;  
}

.LinkNavbar{
    text-decoration: none;
    color: antiquewhite;
    list-style: none;
}

.LinkNavbar:hover{
    color: rgb(153, 110, 194);
}

.Linkactive{
    text-decoration: none;
    color: rgb(229, 116, 240);
    
}