.NavContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

nav{
    width: 70%;
    display: flex;  
}

a{
    text-decoration: none;
    color: antiquewhite;
}

a:hover{
    color: rgb(153, 110, 194);
}